<!doctype html >
<html xmlns:th="http://thymeleaf.org/">
<head>
    <title>myBlog</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Summernote-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>
<body>
<header>

</header>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">myBlog</span>
    <a type="button" class="btn btn-success" href="/posts/newpost">Novo Post</a>
</nav>
<section>
    <div class="container" style="width: 60%; padding-bottom:  60px">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding: 30px">
                <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo Post</li>
            </ol>
        </nav>
        <div>

            <th:block th:include="mensagemValidacao"></th:block>

            <form method="post">
                <div class="input-group input-group-sm mb-2">
                    <input type="text" class="form-control" name="author" placeholder="Autor*">
                </div>

                <div class="input-group input-group-sm mb-2">
                    <input type="text" class="form-control" name="title" placeholder="Titulo*">
                </div>

                <div class="form-group">
                    <textarea id="summernote" class="form-control" name="text" rows="3" placeholder="Texto*"></textarea>
                </div>
                <small class="form-text text-muted">(*) Campos obrigatorios</small>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px">Cadastrar Post</button>
            </form>
        </div>
    </div>
</section>
<script>
    $('#summernote').summernote({
        placeholder: 'Texto *', tabsize: 2, height: 300
    });
</script>
</body>
</html>